ZEISS_ORDERS_BASE_URL=
ZEISS_TRACKING_BASE_URL=
ZEISS_CAMPAIGNS_BASE_URL=
ZEISS_FINANCIAL_BASE_URL=
ZEISS_SERVICES_BASE_URL=
ZEISS_API_KEY=
ZEISS_COUNTRY_ID=
ZEISS_CNPJ=
ZEISS_STORE_ID=
ZEISS_SAOWEB_CODE=
ZEISS_VOUCHER_USER_ID=
ZEISS_FIN_USER_ID=
SYNC_WORKER_PG_USER=
SYNC_WORKER_PG_PASS=

# PostgreSQL Connection String (e.g. postgresql://user:pass@host:port/dbname)
DATABASE_URL=
